# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env